<div class="absolute inset-0 pointer-events-none">
  <div class="absolute top-[20%] left-[15%] w-1 h-1 bg-primary/40 rounded-full"></div>
  <div class="absolute top-[60%] right-[10%] w-2 h-2 bg-primary/20 rounded-full"></div>
  <div class="absolute bottom-[20%] left-[30%] w-1 h-1 bg-purple-500/30 rounded-full"></div>
  <div class="absolute top-[10%] right-[40%] w-1.5 h-1.5 bg-white/10 rounded-full"></div>
</div>
