<div class="fixed inset-0 pointer-events-none z-0 bg-background-dark">
  <div class="absolute inset-0 opacity-[0.03] bg-grid-dots"></div>
  <div class="absolute top-[-10%] left-[20%] w-[500px] h-[500px] bg-primary/10 rounded-full blur-[120px]"></div>
  <div class="absolute bottom-[-10%] right-[10%] w-[400px] h-[400px] bg-accent-purple/10 rounded-full blur-[100px]"></div>
</div>
